a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}
.f-menu {
  width: 45%;
  background-color: lightgray;
  margin: 20vh auto 4vh auto;
  border-radius: 10px;
}

.welcome-banner h1{
  text-align: center;
}

.login-title {
  text-align: center;
  padding-top: 30px;
}

.login-direct {
  text-align: center;
  background-color: lightgray;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 30px 15px 30px 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  width: 40%;
}

#login-loader {
  text-align: center;
}

.log-sign-button {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(44, 131, 218);
  background-color: rgb(51, 153, 255);
}

.f-menu a {
  margin: 0 5%;
}

.material-icons.md-36 {
   font-size: 36px; 
}

.material-icons:hover {
  background-color: rgb(131, 131, 131);
}

#firebaseui-auth-container {
  margin-top: 10%;
}

@media screen and (max-width: 830px) {
  .f-menu {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .login-direct {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .f-menu {
    width: 95%;
  }
  .f-menu a {
    margin: 0 2%;
  }
}

@media screen and (max-width: 480px) {
  #firebaseui-auth-container {
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px 1px 1px rgb(212, 212, 212);
    margin-top: 15%;
  }
}

@media screen and (max-width: 300px) {
  .material-icons.md-36 {
    font-size: 24px;
  }
}
