<<<<<<< HEAD
=======
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

>>>>>>> b84be63c8d81de0a74c9ef948260dcf0b8402e3c
